# Catalyst Cooperative Jupyter Notebook Template
This notebook lays out a standard format and some best practices for creating interactive / exploratory notebooks which can be relatively easily shared between different PUDL users, and turned into reusable Python modules for integration into our underlying Python packages.

## Begin with a narrative outline
Each notebook should start with a brief explanation (in Markdown) explaining the purpose of the analysis, and outlining the different stages / steps which are taken to accomplish the analysis.
As the analysis develops, you can add new sections or details to this section.

## Notebooks should be runnable
Insofar as it's possible, another PUDL user who has cloned the repository that the notebook is part of should be able to update their `pudl-dev` conda environment, open the notebook, and run all cells successfully.
If there are required data or other prerequisites that the notebook cannot manage on its own -- like a file that needs to be downloaded by hand and placed in a particular location -- those steps should be laid out clearly at the beginning of the notebook.

## Avoid Troublesome Elements

### Don't hardcode passwords or access tokens
Most of our work is done in public Github repositories.
No authentication information should ever appear in a notebook.
These values can be stored in environment variables on your local computer.

### Do not hardocde values, especially late in the notebook
If the analysis depends on particular choices of input values, those should be called out explicitly at the beginning of the notebook.
(NB: We should explore ways to parameterize notebooks, [papermill](https://papermill.readthedocs.io/en/latest/) is one tool that does this).

### Don't hardcode absolute file paths
If anyone is going to be able to use the notebook, the files it uses will need to be stored somewhere that makes sense on both your and other computers.
We assume that anyone using this template has the PUDL package installed, and has a local PUDL data management environment set up.
  * Input data that needs to be stored on disk and accessed via a shared location should be saved under `<PUDL_IN>/data/local/<data_source>/`.
  * Intermediate saved data products (e.g. a pickled result of a computationally intensive process) and results should be saved to a location relative to the notebook, and within the directory hierarchy of the repository that the notebook is part of.
  
### Don't require avoidable long-running computations
Consider persisting to disk the results of computations that take more than a few minutes, if the outputs are small enough to be checked into the repository and shared with other users.
Only require the expensive computation to be run if this pre-computed output is not available.

### Don't litter
Don't leave lots of additional code laying around, even commented out, "just in case" you want to look at it again later.
Notebooks need to be relatively linear in the end, even though the thought processes and exploratory analyses that generate them may not be.
Once you have a working analysis, either prune those branches, or encapsulate them as options within functions.

### Don't load unneccesary libraries
Only import libraries which are required by the notebook, to avoid unnecessary dependencies.
If your analysis requires a new library that isn't yet part of the shared `pudl-dev` environment, add it to the `devtools/environment.yml` file so that others will get it when they update their environment.

## Related Resources:
Lots of these guidelines are taken directly from Emily Riederer's post: [RMarkdown Driven Development](https://emilyriederer.netlify.app/post/rmarkdown-driven-development/).
For more in depth explanation of the motivations behind this layout, do go check it out!

# Import Libraries
* Because it's very likely that you will be editing the PUDL Python packages or your own local module under development while working in the notebook, use the %autoreload magic with autoreload level 2 to ensure that any changes you've made in those files are always reflected in the code that's running in the notebook.
* Put all import statements at the top of the notebook, so everyone can see what its dependencies are up front, and so that if an import is going to fail, it fails early, before the rest of the notebook is run.
* Try to avoid importing individual functions and classes from deep within packages, as it may not be clear to other users where those elements came from, later in the notebook, and also to minimize the chance of namespace collisions.

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
# Standard libraries
import logging
import os
import pathlib
import sys

# 3rd party libraries
import matplotlib.pyplot as plt
import matplotlib as mpl
import numpy as np
import pandas as pd
import seaborn as sns
import sqlalchemy as sa

# Local libraries
import pudl

# Configure Display Parameters

In [3]:
sns.set()
%matplotlib inline
mpl.rcParams['figure.figsize'] = (10,4)
mpl.rcParams['figure.dpi'] = 150
pd.options.display.max_columns = 100
pd.options.display.max_rows = 100

# Use Python Logging facilities
* Using a logger from the beginning will make the transition into the PUDL package easier.
* Creating a logging handler here will also allow you to see the logging output coming from PUDL and other underlying packages.

In [4]:
# logger=logging.getLogger()
# logger.setLevel(logging.INFO)
# handler = logging.StreamHandler(stream=sys.stdout)
# formatter = logging.Formatter('%(message)s')
# handler.setFormatter(formatter)
# logger.handlers = [handler]

# Define Functions
In many cases, the eventual product of a notebook analysis is going to be the creation of new, reusable functions that are integrated into the underlying PUDL code. You should begin the process of accumulating and organizing those functions as soon as you notice repeated patterns in your code.
* Functions should be used to encapsulate any potentially reusable code.
* Functions should be defined immediately after the imports, to avoid accidental dependence on zombie variables that are defined further down in the code
* While they may evolve over time, having brief docstrings explaining what they do will help others understand them.
* If there's a particular type of plot or visualization that is made repeatedly in the notebook, it's good to parameterize and functionalize it here too, so that as you refine the presentation of the data and results, those improvements can be made in a single place, and shown uniformly throughout the notebook.
* As these functions mature and become more general purpose tools, you will probably want to start migrating them into their own local module, under a `src` directory in the same directory as the notebook. You will want to import this module

## Dummy EIA 861 ETL

In [5]:
def test_etl_eia(eia_inputs, pudl_settings):
    """
    This is a dummy function that runs the first part of the EIA ETL
    process -- everything up until the entity harvesting begins. For
    use in this notebook only.

    """
    eia860_tables = eia_inputs["eia860_tables"]
    eia860_years = eia_inputs["eia860_years"]
    eia861_tables = eia_inputs["eia861_tables"]
    eia861_years = eia_inputs["eia861_years"]
    eia923_tables = eia_inputs["eia923_tables"]
    eia923_years = eia_inputs["eia923_years"]

    # generate CSVs for the static EIA tables, return the list of tables
    #static_tables = _load_static_tables_eia(datapkg_dir)

    # Extract EIA forms 923, 860
    eia860_raw_dfs = pudl.extract.eia860.Extractor().extract(eia860_years, testing=True)
    eia861_raw_dfs = pudl.extract.eia861.Extractor().extract(eia861_years, testing=True)
    eia923_raw_dfs = pudl.extract.eia923.Extractor().extract(eia923_years, testing=True)

    # Transform EIA forms 860, 861, 923
    eia860_transformed_dfs = pudl.transform.eia860.transform(eia860_raw_dfs, eia860_tables=eia860_tables)
    eia861_transformed_dfs = pudl.transform.eia861.transform(eia861_raw_dfs, eia861_tables=eia861_tables)
    eia923_transformed_dfs = pudl.transform.eia923.transform(eia923_raw_dfs, eia923_tables=eia923_tables)

    # create an eia transformed dfs dictionary
    eia_transformed_dfs = eia860_transformed_dfs.copy()
    eia_transformed_dfs.update(eia861_transformed_dfs.copy())
    eia_transformed_dfs.update(eia923_transformed_dfs.copy())

    # convert types..
    eia_transformed_dfs = pudl.helpers.convert_dfs_dict_dtypes(eia_transformed_dfs, 'eia')

    return eia860_raw_dfs, eia861_raw_dfs, eia923_raw_dfs, eia_transformed_dfs

# Define Notebook Parameters
If there are overarching parameters which determine the nature of the analysis -- which US states to look at, which utilities are of interest, a particular start and end date -- state those clearly at the beginning of the analysis, so that they can be referred to by the rest of the notebook and easily changed if need be.
* If the analysis depends on local (non-PUDL managed) datasets, define the paths to those data here.
* If there are external URLs or other resource locations that will be accessed, define those here as well.
* This is also where you should create your `pudl_settings` dictionary and connections to your local PUDL databases

In [6]:
EIA861_YEARS = list(range(2001, 2019))
pudl_settings = pudl.workspace.setup.get_defaults()
display(pudl_settings)

ferc1_engine = sa.create_engine(pudl_settings['ferc1_db'])
display(ferc1_engine)

pudl_engine = sa.create_engine(pudl_settings['pudl_db'])
display(pudl_engine)

pudl_out = pudl.output.pudltabl.PudlTabl(pudl_engine)


# Is there other external data you need to pull in?
# If so, put it in a (relatively) standard place on the filesystem.
my_new_data_url = "https://mynewdata.website.gov/path/to/new/data.csv"
my_new_datadir = pathlib.Path(pudl_settings["data_dir"]) / "local/new_data_source"

# Store API keys and other secrets in environment variables
# and read them in here, if needed:
# API_KEY_EIA = os.environ["API_KEY_EIA "]
# API_KEY_FRED = os.environ["API_KEY_FRED "]

{'pudl_in': '/Users/aesharpe/Desktop/Work/Catalyst_Coop/PUDL_DIR',
 'data_dir': '/Users/aesharpe/Desktop/Work/Catalyst_Coop/PUDL_DIR/data',
 'settings_dir': '/Users/aesharpe/Desktop/Work/Catalyst_Coop/PUDL_DIR/settings',
 'pudl_out': '/Users/aesharpe/Desktop/Work/Catalyst_Coop/PUDL_DIR',
 'sqlite_dir': '/Users/aesharpe/Desktop/Work/Catalyst_Coop/PUDL_DIR/sqlite',
 'parquet_dir': '/Users/aesharpe/Desktop/Work/Catalyst_Coop/PUDL_DIR/parquet',
 'datapkg_dir': '/Users/aesharpe/Desktop/Work/Catalyst_Coop/PUDL_DIR/datapkg',
 'notebook_dir': '/Users/aesharpe/Desktop/Work/Catalyst_Coop/PUDL_DIR/notebook',
 'ferc1_db': 'sqlite:////Users/aesharpe/Desktop/Work/Catalyst_Coop/PUDL_DIR/sqlite/ferc1.sqlite',
 'pudl_db': 'sqlite:////Users/aesharpe/Desktop/Work/Catalyst_Coop/PUDL_DIR/sqlite/pudl.sqlite'}

Engine(sqlite:////Users/aesharpe/Desktop/Work/Catalyst_Coop/PUDL_DIR/sqlite/ferc1.sqlite)

Engine(sqlite:////Users/aesharpe/Desktop/Work/Catalyst_Coop/PUDL_DIR/sqlite/pudl.sqlite)

# Load Data
* Given the above parameters and functions, it should now be possible to load the required data into local variables for further wrangling, analysis, and visualization.
* If the data is not yet present on the machine of the person running the notebook, this step should also acquire the data from its original source, and place it in the appropriate location under `<PUDL_IN>/data/local/`.
* If there are steps which have to be done manually here, put them first so that they fail first if the user hasn't read the instructions, and they can fix the situation before a bunch of other work gets done. Try to minimize the amount of work in the filesystem that has to be done manually though.
* If this process takes a little while, don't be shy about producing `logging` output.
* Using the `%%time` cell magic can also help users understand which pieces of work / data acquisition are hard:

## EIA 861 (2010-2018)
* Not yet fully integrated into PUDL
* Post-transform harvesting process isn't compatible w/ EIA 861 structure
* Only getting the `sales_eia861`, `balancing_authority_eia861`, and `service_territory_eia861` tables

### Already Transformed EIA 861 DataFrames

In [ ]:
%%time
eia_inputs = {
    "eia860_years": [],
    "eia860_tables": pudl.constants.pudl_tables["eia860"],
    "eia861_years": EIA861_YEARS,
    "eia861_tables": pudl.constants.pudl_tables["eia861"],
    "eia923_years": [],
    "eia923_tables": pudl.constants.pudl_tables["eia923"],
}
eia860_raw_dfs, eia861_raw_dfs, eia923_raw_dfs, eia_transformed_dfs = test_etl_eia(eia_inputs=eia_inputs, pudl_settings=pudl_settings)

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

# Sanity Check Data
If there's any validation that can be done on the data which you've loaded to flag if/when it is inappropriate for the analysis that follows, do it here. If you find the data is unusable, use `assert` statements or `raise` Exceptions to stop the notebook from proceeding, and indicate what the problem is.

In [8]:
list(eia861_raw_dfs.keys())

NameError: name 'eia861_raw_dfs' is not defined

In [ ]:
list(eia_transformed_dfs.keys())

# Preliminary Data Wrangling
Once all of the data is loaded and looks like it's in good shape, do any initial wrangling that's specific to this particular analysis. This should mostly make use of the higher level functions which were defined above. If this step takes a while, don't be shy about producing `logging` outputs.

In [53]:
idx_cols = [
    'utility_id_eia',
    'state',
    'balancing_authority_code_eia',
    'report_date',
]

CUSTOMER_CLASSES = [
    "commercial",
    "dircnct",  # previously direct_connection
    "industrial",
    "other",
    "residential",
    "total",
    "transportation"
]

class_type = 'customer_class'
df_name = 'sales'

# 1495 w/0 ba
# 1489 w/ ba

In [71]:
df = eia_transformed_dfs['non_net_metering_eia861'].copy()
df

,utility_id_eia,state,balancing_authority_code_eia,report_date,customer_class,backup_capacity_mw,generators_number,utility_name_eia,utility_owned_capacity_mw,capacity_mw,tech_class,current_flow_type
0,55,MS,TVA,2016-01-01,commercial,NaN,1.0,City of Aberdeen - (MS),NaN,NaN,combturb,NaN
1,55,MS,TVA,2016-01-01,commercial,NaN,1.0,City of Aberdeen - (MS),NaN,NaN,fcell,NaN
2,55,MS,TVA,2016-01-01,commercial,NaN,1.0,City of Aberdeen - (MS),NaN,NaN,hydro,NaN
3,55,MS,TVA,2016-01-01,commercial,NaN,1.0,City of Aberdeen - (MS),NaN,NaN,ice,NaN
4,55,MS,TVA,2016-01-01,commercial,NaN,1.0,City of Aberdeen - (MS),NaN,NaN,other,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
90775,99999,WY,PACE,2018-01-01,transportation,NaN,NaN,Adjustment 2018,NaN,NaN,pv,NaN
90776,99999,WY,PACE,2018-01-01,transportation,NaN,NaN,Adjustment 2018,NaN,NaN,steam,NaN
90777,99999,WY,PACE,2018-01-01,transportation,NaN,NaN,Adjustment 2018,NaN,NaN,storage,NaN
90778,99999,WY,PACE,2018-01-01,transportation,NaN,NaN,Adjustment 2018,NaN,NaN,total,NaN
90779,99999,WY,PACE,2018-01-01,transportation,NaN,NaN,Adjustment 2018,NaN,NaN,wind,NaN

In [55]:
data_col_list = set(data_cols.columns.tolist()) - \
    set(idx_cols + [class_type])
# Distinguish reported totals from segments
data_totals_df = data_cols.loc[data_cols[class_type] == 'total']
data_no_tots_df = data_cols.loc[data_cols[class_type] != 'total']
# Calculate sum of segments for comparison against reported total
data_sums_df = data_no_tots_df.groupby(
    idx_cols + [class_type], observed=True).sum()
sum_total_df = pd.merge(data_totals_df, data_sums_df, on=idx_cols,
                        how='outer', suffixes=('_total', '_sum'))

In [40]:
sum_total_df.dtypes

utility_id_eia                           int64
state                                   object
balancing_authority_code_eia          category
report_date                     datetime64[ns]
customer_class                        category
customers_total                          Int64
sales_mwh_total                        float64
sales_revenue_total                    float64
customers_sum                            Int64
sales_mwh_sum                          float64
sales_revenue_sum                      float64
dtype: object

In [56]:
# Check each data column's calculated sum against the reported total
for col in data_col_list:
    print(col)
    col_df = (sum_total_df.loc[sum_total_df[col + '_total'].notnull()])
    if len(col_df) > 0:
        col_df = (
            col_df.assign(
                compare_totals=lambda x: (x[col + '_total'] == x[col + '_sum']))
        )
        bad_math = (col_df['compare_totals']).sum() / len(col_df)
#         print(
#             f"{df_name}: for column {col}, {bad_math:.0%} "
#             "of non-null reported totals = the sum of parts."
#         )
#     else:
#         print(
#             f'{df_name}: for column {col} all total values are NaN')

customers

AttributeError: 'BooleanArray' object has no attribute 'sum'

In [68]:
#col_df['compare_totals'].values.sum()
#(~col_df['compare_totals']).values.sum()
#bad_math = (~col_df['compare_totals']).values.sum()
(col_df['compare_totals'].values

SyntaxError: unexpected EOF while parsing (<ipython-input-68-5d4cd387f982>, line 4)

In [19]:
data_cols

,utility_id_eia,state,balancing_authority_code_eia,report_date,customer_class,customers,sales_mwh,sales_revenue
0,183,NY,UNK,2001-01-01,commercial,128,2178.0,79000.0
1,183,NY,UNK,2001-01-01,industrial,42,36876.0,1214000.0
2,183,NY,UNK,2001-01-01,other,<NA>,NaN,NaN
3,183,NY,UNK,2001-01-01,residential,1400,15848.0,556000.0
4,183,NY,UNK,2001-01-01,transportation,2,599.0,35000.0
...,...,...,...,...,...,...,...,...
299575,62117,TX,ERCO,2018-01-01,commercial,11,220.0,27300.0
299576,62117,TX,ERCO,2018-01-01,industrial,0,0.0,0.0
299577,62117,TX,ERCO,2018-01-01,other,<NA>,NaN,NaN
299578,62117,TX,ERCO,2018-01-01,residential,0,0.0,0.0
299579,62117,TX,ERCO,2018-01-01,transportation,0,0.0,0.0

In [10]:
df = eia_transformed_dfs['non_net_metering_eia861'].copy()
df2 = eia861_raw_dfs['non_net_metering_eia861'].copy()
df = pudl.helpers.organize_cols(df, idx_cols+['utility_name_eia','customer_class', 'tech_class'])
#df[df['7'].notnull()]
df

,utility_id_eia,state,balancing_authority_code_eia,report_date,utility_name_eia,customer_class,tech_class,backup_capacity_mw,capacity_mw,current_flow_type,generators_number,utility_owned_capacity_mw
0,55,MS,TVA,2016-01-01,City of Aberdeen - (MS),commercial,combturb,NaN,NaN,NaN,1.0,NaN
1,55,MS,TVA,2016-01-01,City of Aberdeen - (MS),commercial,fcell,NaN,NaN,NaN,1.0,NaN
2,55,MS,TVA,2016-01-01,City of Aberdeen - (MS),commercial,hydro,NaN,NaN,NaN,1.0,NaN
3,55,MS,TVA,2016-01-01,City of Aberdeen - (MS),commercial,ice,NaN,NaN,NaN,1.0,NaN
4,55,MS,TVA,2016-01-01,City of Aberdeen - (MS),commercial,other,NaN,NaN,NaN,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
90775,99999,WY,PACE,2018-01-01,Adjustment 2018,transportation,pv,NaN,NaN,NaN,NaN,NaN
90776,99999,WY,PACE,2018-01-01,Adjustment 2018,transportation,steam,NaN,NaN,NaN,NaN,NaN
90777,99999,WY,PACE,2018-01-01,Adjustment 2018,transportation,storage,NaN,NaN,NaN,NaN,NaN
90778,99999,WY,PACE,2018-01-01,Adjustment 2018,transportation,total,NaN,NaN,NaN,NaN,NaN
90779,99999,WY,PACE,2018-01-01,Adjustment 2018,transportation,wind,NaN,NaN,NaN,NaN,NaN

In [14]:
df2.columns.tolist()

['backup_capacity_mw',
 'balancing_authority_code_eia',
 'commercial_combturb_capacity_mw',
 'commercial_fcell_capacity_mw',
 'commercial_hydro_capacity_mw',
 'commercial_ice_capacity_mw',
 'commercial_other_capacity_mw',
 'commercial_pv_capacity_mw',
 'commercial_storage_capacity_mw',
 'commercial_total_capacity_mw',
 'commercial_wind_capacity_mw',
 'dircnct_combturb_capacity_mw',
 'dircnct_fcell_capacity_mw',
 'dircnct_hydro_capacity_mw',
 'dircnct_ice_capacity_mw',
 'dircnct_other_capacity_mw',
 'dircnct_pv_capacity_mw',
 'dircnct_steam_capacity_mw',
 'dircnct_storage_capacity_mw',
 'dircnct_total_capacity_mw',
 'dircnct_wind_capacity_mw',
 'generators_number',
 'industrial_combturb_capacity_mw',
 'industrial_fcell_capacity_mw',
 'industrial_hydro_capacity_mw',
 'industrial_ice_capacity_mw',
 'industrial_other_capacity_mw',
 'industrial_pv_capacity_mw',
 'industrial_steam_capacity_mw',
 'industrial_storage_capacity_mw',
 'industrial_total_capacity_mw',
 'industrial_wind_capacity_mw',
 'pv_current_flow_type',
 'report_year',
 'residential_7',
 'residential_combturb_capacity_mw',
 'residential_fcell_capacity_mw',
 'residential_hydro_capacity_mw',
 'residential_ice_capacity_mw',
 'residential_other_capacity_mw',
 'residential_pv_capacity_mw',
 'residential_steam_capacity_mw',
 'residential_storage_capacity_mw',
 'residential_total_capacity_mw',
 'residential_wind_capacity_mw',
 'state',
 'total_capacity_mw',
 'total_combturb_capacity_mw',
 'total_fcell_capacity_mw',
 'total_hydro_capacity_mw',
 'total_ice_capacity_mw',
 'total_other_capacity_mw',
 'total_pv_capacity_mw',
 'total_steam_capacity_mw',
 'total_storage_capacity_mw',
 'total_total_capacity_mw',
 'total_wind_capacity_mw',
 'transportation_combturb_capacity_mw',
 'transportation_fcell_capacity_mw',
 'transportation_hydro_capacity_mw',
 'transportation_ice_capacity_mw',
 'transportation_other_capacity_mw',
 'transportation_pv_capacity_mw',
 'transportation_steam_capacity_mw',
 'transportation_storage_capacity_mw',
 'transportation_total_capacity_mw',
 'transportation_wind_capacity_mw',
 'utility_id_eia',
 'utility_name_eia',
 'utility_owned_capacity_mw']

In [77]:
tidy_nnm, idx_cols = pudl.transform.eia861._tidy_class_dfs(
    df, 'Non Net Metering', idx_cols, CUSTOMER_CLASSES, 'customer_class')

UndefinedVariableError: name 'customer_class' is not defined

In [51]:
df

,utility_id_eia,state,report_date,balancing_authority_code_eia,customer_class,backup_capacity_mw,generators_number,storage_commercial_capacity_mw,storage_dircnct_capacity_mw_capacity_mw,storage_industrial_capacity_mw,storage_residential_capacity_mw,storage_total_capacity_mw,storage_transportation_capacity_mw,utility_name_eia,utility_owned_capacity_mw,capacity_mw_x,commercial_capacity_mw_x,dircnct_capacity_mwed_x,industrial_capacity_mw_x,residential_capacity_mw_x,transportation_capacity_mw_x,tech_class,capacity_mw_y,commercial_capacity_mw_y,dircnct_capacity_mwed_y,industrial_capacity_mw_y,residential_capacity_mw_y,total_capacity_mw,transportation_capacity_mw_y,type
0,55,MS,2016-01-01,TVA,other,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,City of Aberdeen - (MS),NaN,NaN,NaN,NaN,NaN,NaN,NaN,combturb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,55,MS,2016-01-01,TVA,other,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,City of Aberdeen - (MS),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,55,MS,2016-01-01,TVA,other,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,City of Aberdeen - (MS),NaN,NaN,NaN,NaN,NaN,NaN,NaN,hydro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,55,MS,2016-01-01,TVA,other,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,City of Aberdeen - (MS),NaN,NaN,NaN,NaN,NaN,NaN,NaN,ice,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,55,MS,2016-01-01,TVA,other,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,City of Aberdeen - (MS),NaN,NaN,NaN,NaN,NaN,NaN,NaN,pv,NaN,NaN,NaN,NaN,0.01,0.010,NaN,AC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12099,99999,WY,2018-01-01,PACE,other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Adjustment 2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ice,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12100,99999,WY,2018-01-01,PACE,other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Adjustment 2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,pv,NaN,NaN,-0.009,NaN,NaN,-0.009,NaN,NaN
12101,99999,WY,2018-01-01,PACE,other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Adjustment 2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,steam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12102,99999,WY,2018-01-01,PACE,other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Adjustment 2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12103,99999,WY,2018-01-01,PACE,other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Adjustment 2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,wind,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Totals Analysis

In [110]:
#df = compare_totals(df, idx_cols, class_cols)
#df.loc[df['tot_comp']==True]

In [36]:
piv_df = (
    df.reset_index()
    .set_index(idx_cols+['customer_class', 'fuel_class'])[class_cols]
    .stack()
    .reset_index()
    .rename(columns={'level_6':'customer_attributes', 0:'value'})
    .drop_duplicates()
    .set_index(idx_cols+['customer_class', 'fuel_class', 'customer_attributes'])
    .unstack(level=5)
    .fillna(0)
)

# Get rid of categorical index
piv_df.columns = [x[1] for x in piv_df.columns.tolist()]
piv_df = piv_df.reset_index()
piv_df.

,utility_id_eia,state,balancing_authority_code_eia,report_date,customer_class,customer_attributes,chpcogen,other,pv,total,wind
0,59,LA,MISO,2017-01-01,commercial,capacity_mw,0,0,0,0,0
1,59,LA,MISO,2017-01-01,commercial,customers,0,0,0,0,0
2,59,LA,MISO,2017-01-01,commercial,sold_to_utility_mwh,0,0,0,0,0
3,59,LA,MISO,2017-01-01,commercial,type,AC,AC,AC,AC,AC
4,59,LA,MISO,2017-01-01,industrial,capacity_mw,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
170983,99999,WY,PACE,2018-01-01,industrial,capacity_mw,0,0,-0.004,-0.004,0
170984,99999,WY,PACE,2018-01-01,residential,capacity_mw,0,0,-0.176,-0.176,0
170985,99999,WY,PACE,2018-01-01,total,capacity_mw,0,0,-0.282,-0.282,0
170986,99999,WY,PACE,2018-01-01,total,virtual_capacity_mw,0,0,0,0,0
170987,99999,WY,PACE,2018-01-01,transportation,capacity_mw,0,0,0,0,0

In [38]:
piv_df = (
    df.reset_index()
    .set_index(idx_cols+['customer_class', 'fuel_class'])[class_cols]
    .stack()
    .reset_index()
    .rename(columns={'level_6':'customer_attributes', 0:'value'})
    .drop_duplicates()
    .set_index(idx_cols+['customer_class', 'fuel_class', 'customer_attributes'])
    .unstack(level=5)
    .fillna(0)
)

# Get rid of categorical index
piv_df.columns = [x[1] for x in piv_df.columns.tolist()]
piv_df = piv_df.reset_index()

# Add sum column
piv_df['sum'] = (
#     piv_df['commercial']
#     + piv_df['industrial']
#     + piv_df['residential']
#     + piv_df['transportation']
      piv_df['pv']
      + piv_df['wind']
      + piv_df['chpcogen']
      + piv_df['other']
)

# Clean up 
piv_df = piv_df.loc[piv_df['customer_attributes']!='type']
# piv_df = piv_df.assign(
#     commercial=lambda x: x.commercial.astype('float'),
#     industrial=lambda x: x.industrial.astype('float'),
#     residential=lambda x: x.residential.astype('float'),
#     transportation=lambda x: x.transportation.astype('float'),
#     total=lambda x: x.total.astype('float')
# )

# Add comparison bool col
piv_df['tot_comp'] = (
    abs(piv_df['sum'] - piv_df['total']) < 1
)

# Show spots where totals don't match up
false_df = piv_df.loc[piv_df['tot_comp']==False]

In [40]:
piv_df

,utility_id_eia,state,balancing_authority_code_eia,report_date,customer_class,customer_attributes,chpcogen,other,pv,total,wind,sum,tot_comp
0,59,LA,MISO,2017-01-01,commercial,capacity_mw,0,0,0,0,0,0,True
1,59,LA,MISO,2017-01-01,commercial,customers,0,0,0,0,0,0,True
2,59,LA,MISO,2017-01-01,commercial,sold_to_utility_mwh,0,0,0,0,0,0,True
4,59,LA,MISO,2017-01-01,industrial,capacity_mw,0,0,0,0,0,0,True
5,59,LA,MISO,2017-01-01,industrial,customers,0,0,0,0,0,0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
170983,99999,WY,PACE,2018-01-01,industrial,capacity_mw,0,0,-0.004,-0.004,0,-0.004,True
170984,99999,WY,PACE,2018-01-01,residential,capacity_mw,0,0,-0.176,-0.176,0,-0.176,True
170985,99999,WY,PACE,2018-01-01,total,capacity_mw,0,0,-0.282,-0.282,0,-0.282,True
170986,99999,WY,PACE,2018-01-01,total,virtual_capacity_mw,0,0,0,0,0,0,True
170987,99999,WY,PACE,2018-01-01,transportation,capacity_mw,0,0,0,0,0,0,True

In [28]:
import math

# df should be a dataframe with a 'customer class' column, one of whom's values is "total"
#df = tidy_ami

idx_cols = [
    'utility_id_eia',
    'state',
    'balancing_authority_code_eia',
    'report_date'
]

class_cols = [
     #'customers', 
     'capacity_mw',
     'customers',
     'sold_to_utility_mwh',
     'energy_displaced_mwh',
     'storage_capacity_mw',
     'storage_customers',
     'virtual_capacity_mw',
     'virtual_customers',
     'type',
]

# you will need to edit the LEVEL numbers depending on the customer class
def compare_totals(df, idx_cols, class_cols):
    # Make long df and then unstack customer classes as columns
    piv_df = (
        df.reset_index()
        .set_index(idx_cols+['customer_class'])[class_cols]
        .stack()
        .reset_index()
        .rename(columns={'level_5':'customer_attributes', 0:'value'})
        .drop_duplicates()
        .set_index(idx_cols+['customer_class', 'customer_attributes'])
        .unstack(level=4)
        .fillna(0)
    )
    
    # Get rid of categorical index
    piv_df.columns = [x[1] for x in piv_df.columns.tolist()]
    piv_df = piv_df.reset_index()
    
    # Add sum column
    piv_df['sum'] = (
        piv_df['commercial']
        + piv_df['industrial']
        + piv_df['residential']
        + piv_df['transportation']
    )
    
    # Add comparison bool col
    piv_df['tot_comp'] = (
        abs(piv_df['sum'] - piv_df['total']) < 1
    )
    
    # Show spots where totals don't match up
    false_df = piv_df.loc[piv_df['tot_comp']==False]
    
    return false_df

In [17]:
# # Define base comparison df 
# eia_base_df = (
#     pudl_out.utils_eia860()
#     #[['report_date', 'utility_id_eia', 'utility_id_pudl', 'utility_name_eia', 'state']]
#     .assign(utility_id_eia=lambda x: x.utility_id_eia.astype('Int64'))
# )
# # Shorten df
# #df = df[['utility_id_eia', 'state', 'utility_name_eia', 'report_date']]

# # Merge dfs together 
# df_merge = (
#     pd.merge(eia_base_df, df, on=['utility_id_eia', 'state', 'report_date'], how='outer', suffixes=('_base', '_861'))
#     .set_index(['utility_id_eia', 'report_date'])
#     .assign(utility_name_eia_base=lambda x: x.utility_name_eia_base.astype('string'),
#             utility_name_eia_861=lambda x: x.utility_name_eia_861.astype('string'))
# )
# df_merge

In [67]:
eia_base_df.loc[eia_base_df['utility_id_eia']==2409]

,report_date,utility_id_eia,utility_id_pudl,utility_name_eia,city,entity_type,plants_reported_asset_manager,plants_reported_operator,plants_reported_other_relationship,plants_reported_owner,state,street_address,zip_code
1371,2018-01-01,2409,716,Brownsville Public Utilities Board,Brownsville,M,None,None,None,True,TX,P.O. Box 3270,78523
1372,2017-01-01,2409,716,Brownsville Public Utilities Board,Brownsville,M,None,None,None,True,TX,P.O. Box 3270,78523
1373,2016-01-01,2409,716,Brownsville Public Utilities Board,Brownsville,M,None,None,None,True,TX,P.O. Box 3270,78523
1374,2015-01-01,2409,716,Brownsville Public Utilities Board,Brownsville,M,None,True,None,True,TX,P.O. Box 3270,78523
1375,2014-01-01,2409,716,Brownsville Public Utilities Board,Brownsville,M,None,True,None,True,TX,P.O. Box 3270,78523
1376,2013-01-01,2409,716,Brownsville Public Utilities Board,Brownsville,M,True,True,True,True,TX,P.O. Box 3270,78523
1377,2012-01-01,2409,716,Brownsville Public Utilities Board,Brownsville,M,None,None,None,None,TX,None,78523
1378,2011-01-01,2409,716,Brownsville Public Utilities Board,Brownsville,M,None,None,None,None,TX,P.O. Box 3270,78523

## Fuzzy Match Columns

In [85]:
from fuzzywuzzy import fuzz

def fuzzy_match(df, col1, col2):
    # Define base comparison df 
    eia_base_df = (
        pudl_out.utils_eia860()
        #[['report_date', 'utility_id_eia', 'utility_id_pudl', 'utility_name_eia', 'state']]
        .assign(utility_id_eia=lambda x: x.utility_id_eia.astype('Int64'))
    )
    # Shorten df
    #df = df[['utility_id_eia', 'state', 'utility_name_eia', 'report_date']]
    
    # Merge dfs together 
    df_merge = (
        pd.merge(eia_base_df, df, on=['utility_id_eia', 'state'], how='outer', suffixes=('_base', '_861'))
        .set_index(['utility_id_eia', 'state'])
        .assign(utility_name_eia_base=lambda x: x.utility_name_eia_base.astype('string'),
                utility_name_eia_861=lambda x: x.utility_name_eia_861.astype('string'))
    )
    
    # Only run where both columns for utility name have values
    df_merge_no_null = (
        df_merge.loc[
            (df_merge[col1].notnull()) 
            & (df_merge[col2].notnull())].copy()
    )
    
    # Fuzzy match
    df_merge_no_null['fuzzy'] = (
        df_merge_no_null.apply(lambda x: fuzz.ratio(x.utility_name_eia_base, x.new_parent),axis=1)
    )
#     df_merge_no_null = (
#         df_merge_no_null.assign(fuzzy=lambda x: fuzz.ratio(x[col1], x[col2])))
    
    #df_merge_no_null.loc[:,'fuzzy'] = fuzzy_series
    df_merge_no_null = df_merge_no_null.sort_values('fuzzy')
    
    return df_merge_no_null

In [56]:
# This one used to work but now pivot_table takes WAY too long.
def compare_totals_loong(df, idx_cols, class_cols):
    no_tot = df.loc[df['customer_class']!='total']
    tot = df.loc[df['customer_class']=='total']
    
    pivot_df = no_tot.pivot_table(class_cols, idx_cols, 'customer_class')
    
    sum_df = no_tot.groupby(idx_cols).sum().reset_index()
    combo_df = (
        pd.merge(sum_df, tot, on=idx_cols, how='outer', suffixes=['_sum', '_tot'])
        #.fillna(0)
    ).set_index(idx_cols)
    
    # make bool col for whether sum is the same as total (in this case can be off by one)
    for col in class_cols:
        combo_df[col+'_bool'] = (
            abs(combo_df[col+'_sum'] - combo_df[col+'_tot']) <=1
        )
    
    combo_df = combo_df.reset_index()
    bad_idx_list = []
    
    # make a list of the indexes where series comparisons have are FALSE (meaning sum is different from total)
    for col in combo_df[combo_df.filter(regex='bool').columns]:
        if len(combo_df[col].unique().tolist()) > 1:
            bad_idxs = combo_df.index[combo_df[col]==False].tolist() 
            bad_idx_list + bad_idxs
    bad_idx_list = list(set(bad_idx_list))    
    
    bad_df = combo_df.iloc[bad_idx_list]
    
    return bad_df

# DSM Stuff

In [37]:
dsm = eia861_raw_dfs['demand_side_management_eia861'].copy()
#dsm.columns.tolist()

In [50]:
idx_cols = ['utility_id_eia', 'state', 'ba_code', 'report_year']

dsm_test = dsm[['utility_id_eia', 'state', 'ba_code', 'report_year', 
                'residential_annual_load_management_energy_effects ', 
                'commercial_annual_load_management_energy_effects ', 
                'industrial_annual_load_management_energy_effects ',
                'transportation_annual_load_management_energy_effects ',
                'total_annual_load_management_energy_effects ',
]]

dr_test = raw_dr_eia861[['utility_id_eia', 'state', 'balancing_authority_code_eia', 'report_year',
                         'residential_energy_savings_mwh',
                         'commercial_energy_savings_mwh',
                         'industrial_energy_savings_mwh',
                         'transportation_energy_savings_mwh',
                         'total_energy_savings_mwh'
]].rename(columns={'balancing_authority_code_eia': 'ba_code'})

In [84]:
merge = pd.merge(dsm_test, dr_test, on=idx_cols, how='outer')
merge = pudl.helpers.oob_to_nan(merge, 
                       ['residential_annual_load_management_energy_effects ', 
                        'commercial_annual_load_management_energy_effects ', 
                        'industrial_annual_load_management_energy_effects ',
                        'transportation_annual_load_management_energy_effects ',
                        'residential_energy_savings_mwh',
                        'commercial_energy_savings_mwh',
                        'industrial_energy_savings_mwh',
                        'transportation_energy_savings_mwh',
                        'total_energy_savings_mwh',
                        'total_annual_load_management_energy_effects '])

In [71]:
dr_col = 'residential_energy_savings_mwh'
dsm_col = 'residential_annual_load_management_energy_effects '

In [36]:
merge = merge.loc[merge['report_year'].isin(range(2012,2014))]
merge = merge.loc[merge[dr_col].notna()]
#merge = merge.loc[merge[dsm_col].notna()]

NameError: name 'merge' is not defined

In [34]:
#test.plot.scatter('residential_annual_load_management_energy_effects ', 'residential_energy_savings_mwh')

In [33]:
#raw_dr_eia861.columns.tolist()

# Data Analysis and Visualization
* Now that you've got the required data in a usable form, you can tell the story of your analysis through a mix of visualizations, and further data wrangling steps.
* This narrative should be readable, with figures that have titles, legends, and labeled axes as appropriate so others can understand what you're showing them.
* The code should be concise and make use of the parameters and functions which you've defined above when possible. Functions should contain comprehensible chunks of work that make sense as one step in the story of the analysis.